/* Start Global */

.container {
    font-family: 'Raleway', sans-serif;
}
    
    /* Nice Scroll */

#ascrail2000 {
    z-index: 4 !important
}

/* End Global */

/* Start Navbar */

.navbar {
    min-height: 70px
}

nav {
    font-weight: bold;
    font-size: 18px;
    height: 0;
    color: #FFF;
    position: relative;
    z-index: 2
}

nav .navbar-nav > li {
    margin-right: 25px;
    margin-left: 25px
}

nav .navbar-nav > li > a {
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px
}

nav .navbar-nav > li.active > a,
nav .navbar-nav > li > a:hover,
nav .navbar-nav > li > a:focus {
    color: #1abc9c;
    background-color: transparent
}

nav .navbar-nav > li.active,
nav .navbar-nav > li:hover {
    border-bottom: 2px solid #1abc9c
}

/* Brand Name */

nav .navbar-brand {
    color: #FFF;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase
}

.navbar-toggle {
    margin: 20px
}

.icon-bar {
    background-color: #FFF
}

/* End Navbar */

/* Start Header */

.header {
    background: url(../images/header2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    font-family: 'Raleway', sans-serif
}

.header > span {
    position: absolute;
    text-align: center;
    right: 44%;
    top: 80%;
    padding: 20px;
    display: inline-block;
    border: 2px solid #FFF;
    color: #FFF;
    text-transform: uppercase;
    z-index: 3
}

.header .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    z-index: 1
}

.header .bx-wrapper {
    height: 100%;
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important;
    margin: 0
}

.header .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important
}

.header .bxslider {
    height: 100%
}

.header .bxslider li {
    display: block;
    font-weight: bold
}

.header .bxslider li h2 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0
}

.header .bxslider li h2 span {
    color: #1abc9c
}

.header .bxslider li p {
    margin: 0 400px;
    line-height: 1.4;
    font-weight: normal
}

.bx-wrapper .bx-controls-direction a {
    height: 60px
}

.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-prev:focus,
.bx-wrapper .bx-prev:hover{
    background-position: 0
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-prev:hover {
    transform: scale(1.3)
}

.bx-wrapper .bx-prev {
    left: 20px;
    background: url(images/angle-left.png) no-repeat;
}

.bx-wrapper .bx-next {
    right: 20px;
    background: url(images/angle-right.png) no-repeat;
}

/* End Header */

/* Start Services */

.services {
    padding: 80px 0 20px 20px
}

.services h2 {
    margin: 0 0 50px;
    font-size: 29px;
    font-weight: bold
}

.services .item i {
    color: #1abc9c;
    float: left;
    width: 20%;
    margin-top: 15px;
    margin-right: 5% 
}

.services .item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px
}

.services .item p {
    color: #888;
    width: 286px;
    margin-right: 0;
    font-size: 19px
}

.cloud {
    background: url(../images/cloud.png) no-repeat;
    height: 62px;
    width: 20%;
    margin-top: 15px;
    margin-right: 5%;
    display: inline-block;
    float: left;
}

.video {
    background: url(../images/video.png) no-repeat;
    height: 62px;
    width: 20%;
    margin-top: 15px;
    margin-right: 5%;
    display: inline-block;
    float: left;
}

.services .item .info {
    float: left;
    width: 75%
}

.our-team {
    padding: 0px 30px 20px;
    margin-bottom: 20px
}

.our-team .box {
    float: left
}

.our-team .box:first-child {
    width: 35%;
    padding-left: 0
}

.our-team .box:not(:first-child) {
    margin-top: 30px;
    width: 16.25%;
    text-align: right
}

.our-team .box:not(first-child) {
    position: relative
}

.our-team .box:not(first-child) .overlay {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 35%;
    left: 18%;
    color: #FFF;
}

.our-team .box:not(first-child) .overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 28px;
    border-bottom: 2px solid #FFF
}

.our-team h2 {
    
    font-weight: bold;
    margin: 10px 0 50px;
    font-size: 29px
}

.our-team .box p {
    color: #888;
    line-height: 1.4
}

/* End Services */

/* Start Testimonials */

.testim {
    background: url('../images/testimonials.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    padding: 60px 60px;
    color: #FFF
}

.testim h2 {
    position: relative;
    margin-bottom: 80px
}

.testim h2:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #FFF;
    margin: 0 490px
}

.testim blockquote {
    color: #a6a4a5;
    padding: 0 180px;
    line-height: 1.4;
    border: 0
}

.testim p {
    margin-top: 80px;
    color: #1abc9c
}

.testim .slider > div {
    display: none
}

.testim .slider .active {
    display: block
}

/* End Testimonials */

/* Start Projects */

.our-projects {
    padding: 60px 0;
    height: 800px
}

.our-projects ul {
    margin-top: 50px
}

.our-projects ul li {
    display: inline-block;
    border: 2px solid #D4CCCC;
    color: #A7A7A7;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 5px
}

.our-projects ul li.selected {
    background-color: #1abc9c;
    color: #FFF;
    border: 2px solid #1abc9c
}

.our-projects .row {
    margin-top: 50px
}

.our-projects .row .gallery {
    display: inline
}

.our-projects .row .gallery > div {
    margin-right: 1.7%;
    margin-bottom: 3.24%
}

.our-projects .row .gallery > div:last-child {
    margin-right: 0
}

.our-projects .row .gallery .over {
    padding: 0;
    margin: 0
}
.our-projects .row .gallery > div {
    position: relative;
    margin-bottom: 20px
}

.our-projects .row .gallery > div span:first-child {
    padding: 10px;
    border: 1px solid #FFF;
}

.our-projects .row .gallery > div:hover .over,
.our-projects .row .gallery > div:hover .heart {
    display: inline-block
}

.our-projects .row .gallery > div .over {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    line-height: 220px;
    font-size: 15px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    background-color: rgba(26, 188, 156, .9);
    display: none
}

.our-projects .row .gallery > div .heart {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: #FFF;
    display: none
}

.our-projects .shuffle li {
    cursor: pointer
}

.our-projects #container .mix{
	display: none;
    padding: 0
}

/* End Projects */

/* Start Footer */

.footer {
    background-color: #232323;
    color: #6C6C6C;
    padding: 40px 0;
    overflow: hidden
}

.footer .col {
    width: 23%;
    margin-right: 2.667%;
    float: left;
    background:
}

.footer .col:nth-child(4) {
    margin-right: 0
}

.footer .col h3 {
    color: #FFF
}

.footer .col > p {
    line-height: 1.4
}

.footer .col i {
    width: 15%;
    padding: 8px;
    margin: 2%;
    border: 1px solid #6C6C6C;
    text-align: center;
    margin-bottom: 20px
}

.footer .col > span {
    margin-right: 6px;
    margin-top: 8px;
    padding: 5px;
    border: 1px solid #6C6C6C;
    display: inline-block;
    text-transform: uppercase
}

.footer .col .posts {
    position: relative
}

.footer .col .posts p {
    position: absolute;
    display: inline-block;
    margin: -2px 10px;
    line-height: 1.4;
    color:#FFF
}

.footer .col .posts span {
    color: #6C6C6C
}

.footer .col .posts img {
    margin-bottom: 10px
}

.footer .col h4 {
    border-bottom: 2px solid #6C6C6C;
    padding-bottom: 10px
}

/* End Footer */

/* Start My Framework */

.clearfix {
    clear: both
}

.special-heading {
    position: relative;
}

.special-heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #333
}

.separator {
    border-style: inset;
    border-width: 1px;
    display: block;
    margin: 40px 0
}

/* End My Framework */

/* Smart Pones And Tablets */

@media (max-width: 767px)
{
    .navbar-nav > li > a 
    {
        padding-top: 10px;
        padding-bottom: 10px
    }
    
    .navbar-collapse,
    .navbar-collapse
    {
        max-height: none
    }
    
    .bx-wrapper .bx-next,
    .bx-wrapper .bx-prev {
        display: none
    }
    
    .our-projects #container .mix {
        margin-left: 8px;
        margin-right: 0;
    }
    
    .row {
        margin-right: -10px
    }
    
    .footer {
        margin-top: 160px
    }
    
    .footer .col i {
        padding: 1px
    }
}

/* Start Loading Section */

.loading-overlay {
    background: #222;
    color: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999
}

.sk-folding-cube {
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
    
  /* margin: 20px auto; */
    
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/* End Loading Section */

/* Very Small Screen */

@media (max-width: 768px) 
{
    html {
        overflow-y: hidden;
        overflow-x: hidden
    }
    
    .testim h2:after {
        left: -320px
    }
    
    .testim blockquote {
        padding: 0
    }
    
    .testim p {
        margin-top: 50px
    }
    
    .our-projects {
        height: 560px
    }
    
    .our-projects .row .gallery > div .over {
        margin-right: auto;
        margin-left: auto;
        max-width: 70%
    }
    
    .our-projects .img-responsive {
        max-width: 70%
    }
    
    .footer .row > div:last-child {
        padding-left: 15px
    }
}

/* Small Screen */

@media (min-width: 768px) and (max-width: 991px)
{
    html {
        overflow-y: hidden;
        overflow-x: hidden
    }
    
    nav .navbar-nav > li {
        margin-right: 10px
    }
    
    .bx-wrapper .bx-next,
    .bx-wrapper .bx-prev {
        display: none
    }
    
    .our-projects #container .mix {
        margin-left: 5px;
        margin-right: 0;
    }
    
    .our-projects .row .gallery > div:nth-child(1),
    .our-projects .row .gallery > div:nth-child(3),
    .our-projects .row .gallery > div:nth-child(5) {
        margin-left: 0 !important
    }
    
    .footer {
        margin-top: 160px
    }
    
    .footer .col i {
        padding: 1px
    }
}

/* Medium Screen */

@media (min-width: 992px) and (max-width: 1199px)
{
    html {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .our-projects .row {
        margin-left: 10%;
    }
    
    .video {
        width: 24%;
        margin-right: 1%
    }
    
    .cloud {
        width: 24%;
        margin-right: 1%
    }
    
    .our-team .box:last-child {
        margin-right: 0
    }
    
    .footer {
        margin-top: 160px
    }
}

/* Large Screen */

@media (min-width: 1200px)
{
    html {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}